#root {
  
  
  display: flex;
  justify-content: center;
}

#navback {
  background-color: black;
}

#character {
  background-color: black;
}

#buttonA {
  background-color: black;
}

h1, h2, h3, h4, div, p, button {
  font-family: MedievalSharp !important;
  font-weight: bolder !important;
}

#head1, #head2, #head3 {
  background-color: black;
}

#about1, #about2 {
  background-color: black;
}

#home1, #home2 {
  background-color: black;
}

#navi1, #navi2, #navi3 {
  background-color: black;
}

.card {
  display:flex;
  display: inline-block
  
}



body {
  background: url('/images/elden4.jpg') no-repeat center center fixed;
  margin: 0;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style-type: none;
}

/* .card-columns {
  column-count: 5;
} */

/* .card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
} */
